<%= link_to('<< Back to list',{:action=>'index'},:class=>'Back link') %>

<div class="Section show">
  <h2>Show Page</h2>

  <table summary="Section detail view">
    <tr>
      <th>Name</th>
      <td><%= @section.name %></td>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= @section.position %></td>
    </tr>
    <tr>
      <th>Visible</th>
      <td><%= @section.visible%></td>
    </tr>
    <tr>
      <th>Content</th>
      <td><%= @section.content%></td>
    </tr>
    <tr>
      <th>Content type</th>
      <td><%= @section.content_type%></td>
    </tr>

      <th>Created at</th>
      <td><%= @section.created_at %></td>
    </tr>
    <tr>
      <th>Updated at</th>
      <td><%= @section.updated_at%></td>
    </tr>

  </table>
</div>